@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* { margin: 0; padding: 0; overflow-x: hidden; }
body { background: #c9c9c9; font-family: "Noto Sans", serif; }
.header { display: flex; align-items: center; padding: 10px 0px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; }
.customer-text h3 ,.container { color: #333; }
.customer-text { display: flex; align-items: center; gap: 10px; margin: 10px; }
.customer-text hr { flex-grow: 1; border: none; border-top: 2px solid #333; }